<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ESTUDIO DE KAI</title>
     <!-- FAVICON -->
     <link rel="icon" type="image/x-icon" href="./favicon.ico?v=2">
     <!-- CCS -->
     <link rel="stylesheet" href="../css/style.css">

    <!-- BIBLIOTECA PARA ICONOS DE REDES-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- BIBLIOTECA DE FUENTES DE GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Emilys+Candy&family=Fleur+De+Leah&family=Playwrite+FR+Moderne:wght@100..400&display=swap" rel="stylesheet"> 
     
</head>
<body id="contac">
    <header>
        <h1><img src="./../assets/img/LOGO.png" alt="LOGO" id="logoinicio" width="500" height="500"></h1>
        <hr>

        <!-- Menu de navegacion por la web-->
        <div>
            <nav class="navigationbar">
                <ul class="navigationbarlist">
                    <li> <a class="enlace active" href="./../index.html">INICIO</a></li>
                    <li> <a class="enlace active" href="./portfolio.html">GALERIA</a></li>
                    <li> <a class="enlace active" href="./Sesiones.html">REPORTAJES</a></li>
                    <li> <a class="enlace active" href="./Presupuesto.html">PRECIOS</a></li>
                    <li> <a class="enlace1 active" href="./Contacto.html">CONTACTO</a></li>
                    <li> <a class="enlace active" href="./../assets/pdf/consentimiento-imagenes-menores.pdf" target="_blank">CONSENTIMIENTOS</a>  </li>
                </ul>
            </nav>
        </div>
    
    </header>

    <main>

        <!-- Ubicacion -->

        <h2 class="ubicacion">Ubicación</h2>

        <!-- GOOGLE MAPS ENLACE-->
        

        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6085.184309104845!2d-3.865855325330593!3d40.30701377145738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418c3573443ff3%3A0x7a097529126c88cc!2sPl.%20del%20Sol%2C%2011%2C%2028938%20M%C3%B3stoles%2C%20Madrid!5e0!3m2!1ses!2ses!4v1741189197487!5m2!1ses!2ses">

        </iframe>
    </main>

    <!-- Direccion del estudio-->

    <p class="direccion">
        <img  class="location" src="/assets/img/location.png" alt="icono location">
        Plaza del Sol, 11 
        Mostoles, Madrid 
        C.P 28938
    </p>

    <!-- FOOTER-->

    <footer>
        <div class="footer">
            <p class="namefooter">&copy;2025 EL ESTUDIO DE KAI C.A.</p>
            <nav>
                <ul class="footerlist">
                    <li><a href="#">F & Q</a></li>
                    <li><a href="/views/Contacto.html">Contacto</a></li>
                    <li><a href="/assets/pdf/Politica_Privacidad.pdf">Aviso Legal</a></li>
                </ul>
            </nav>

            <!-- Iconos redes sociales-->

            <div class="redes">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="Instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
        
    </footer> 

   
</body>

<!-- FIN -->
</html>