<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ESTUDIO DE KAI</title>
     <!-- FAVICON -->
     <link rel="icon" type="image/x-icon" href="./favicon.ico?v=2">
     <!-- CCS -->
     <link rel="stylesheet" href="../css/style.css">

     <!-- BIBLIOTECA PARA ICONOS DE REDES-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- BIBLIOTECA DE FUENTES DE GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Emilys+Candy&family=Fleur+De+Leah&family=Playwrite+FR+Moderne:wght@100..400&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
        <!--LOGO-->
        <h1><img src="./../assets/img/LOGO.png" alt="LOGO" id="logoinicio" width="500" height="500"></h1>
        <hr>

        <!-- Menu de navegacion por la web-->

        <div>
            <nav class="navigationbar">
                <ul class="navigationbarlist">
                    <li> <a class="enlace active" href="./../index.html">INICIO</a></li>
                    <li> <a class="enlace1 active" href="./portfolio.html">GALERIA</a></li>
                    <li> <a class="enlace active" href="./Sesiones.html">REPORTAJES</a></li>
                    <li> <a class="enlace active" href="./Presupuesto.html">PRECIOS</a></li>
                    <li> <a class="enlace active" href="./Contacto.html">CONTACTO</a></li>
                    <li> <a class="enlace active" href="./../assets/pdf/consentimiento-imagenes-menores.pdf" target="_blank">CONSENTIMIENTOS</a>  </li>
                </ul>
            </nav>
        </div>
    
    </header>

    <!-- contenedor de imagenes para galeria-->

    <main class="maingallery">
        <div class="contgallery" >
            <img class="gallery" src=".././assets/img/IMG_1.JPG" alt="bebe recien nacido" width="2118" height="1412">
            <img class="gallery" src=".././assets/img/IMG_2.JPG" alt="bebe recien nacido" width="1838" height="1226">
            <img class="gallery" src=".././assets/img/IMG_3.JPG" alt="bebe recien nacido" width="2104" height="1404">
            <img class="gallery" src=".././assets/img/IMG_4.JPG" alt="bebe recien nacido" width="1980" height="1320">
            <img class="gallery" src=".././assets/img/IMG_5.JPG" alt="bebe recien nacido" width="2492" height="1662">
            <img class="gallery" src=".././assets/img/EROSAZUL.JPG" alt="bebe recien nacido" width="640" height="428">
            <img class="gallery" src=".././assets/img/love1.JPG" alt="bebe disfrazado de cupido" width="1536" height="2048">
            <img class="gallery" src=".././assets/img/love2.JPG" alt="bebe disfrazado de cupido" width="1380" height="2048">
            <img class="gallery" src=".././assets/img/love3.JPG" alt="bebe disfrazado de cupido" width="1200" height="1600">
            <img class="gallery" src=".././assets/img/love4.JPG" alt="bebe disfrazado de cupido" width="1569" height="2047">
            <img class="gallery" src=".././assets/img/love5.JPG" alt="bebe disfrazado de cupido" width="1444" height="2048">
            <img class="gallery" src=".././assets/img/chef1.jpg" alt="bebe disfrazado de chef" width="2215" height="3073">
            <img class="gallery" src=".././assets/img/chef2.jpg" alt="bebe disfrazado de chef" width="1865" height="3038">
            <img class="gallery" src=".././assets/img/chef3.jpg" alt="bebe disfrazado de chef" width="2609" height="3185">
            <img class="gallery" src=".././assets/img/chef4.jpg" alt="bebe disfrazado de chef" width="1851" height="3188">

        </div>
    </main>

    <!-- FOOTER-->

    <footer>
        <div class="footer">
            <p class="namefooter">&copy;2025 EL ESTUDIO DE KAI C.A.</p>
            <nav>
                <ul class="footerlist">
                    <li><a href="#">F & Q</a></li>
                    <li><a href="./Contacto.html">Contacto</a></li>
                    <li><a href="../assets/pdf/Politica_Privacidad.pdf">Aviso Legal</a></li>
                </ul>
            </nav>

            <!-- Iconos redes sociales-->

            <div class="redes">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="Instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
        
    </footer> 

</body>

<!-- FIN-->
</html>