<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ESTUDIO DE KAI</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="./favicon.ico?v=2">
    <!-- CCS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- BIBLIOTECA PARA ICONOS DE REDES-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- BIBLIOTECA DE FUENTES DE GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Emilys+Candy&family=Fleur+De+Leah&family=Playwrite+FR+Moderne:wght@100..400&display=swap" rel="stylesheet"> 

</head>

<body>
    <header>
        <h1><img src="./../assets/img/LOGO.png" alt="LOGO" id="logoinicio" width="500" height="500"></h1>
        <hr>

        <!-- Menu de navegacion por la web-->

        <div>
            <nav class="navigationbar">
                <ul class="navigationbarlist">
                    <li> <a class="enlace active" href="./../index.html">INICIO</a></li>
                    <li> <a class="enlace active" href="./portfolio.html">GALERIA</a></li>
                    <li> <a class="enlace1 active" href="./Sesiones.html">REPORTAJES</a></li>
                    <li> <a class="enlace active" href="./Presupuesto.html">PRECIOS</a></li>
                    <li> <a class="enlace active" href="./Contacto.html">CONTACTO</a></li>
                    <li> <a class="enlace active" href="./../assets/pdf/consentimiento-imagenes-menores.pdf" target="_blank">CONSENTIMIENTOS</a>  </li>
                </ul>
            </nav>
        </div>
    
    </header>

    <!-- texto informativo sobre el apartado -->

    <h4 class="informacion2">En el Estudio de Kai tenemos diferentes reportajes fotograficos <br> que se pueden adaptar a tu sesion </h4>

    <!-- BOX CON LOS DIFERENTES TIPOS DE SESIONES Y PRECIOS -->


    <div class="pt">
    <!-- BOX 1-->
     
        <div class="box">
            <div class="namebox">
                <h2> CARRUSEL</h2>
            </div>
            <ul class="listas">
                <li>10 Fotografias Digitales</li>
                <li>5 Fotografias Impresas</li>
                <li>Entregado en un sobre de tela</li>
                <li>Atrezo disponible</li>
                <li>Opcion a galeria completa 60€</li>
                <li>Reportaje en Estudio</li>
                <li>Fotografia impresa extra por 8€</li>
                <li>1 persona</li>
            </ul>
            <div class="boxprecio">
                <a class="precio" href="./formulario.html">Solicita Presupuesto</a>
            </div>
        </div>

        <!-- BOX 2 -->
        <div class="box">
            <div class="namebox">
                <h2> CABALLITO DE MAR </h2>
            </div>
            <ul class="listas">
                <li>20 Fotografias Digitales</li>
                <li>15 Fotografias Impresas</li>
                <li>Entregado en un sobre de tela</li>
                <li>2 Atrezos disponibles</li>
                <li>Opcion a galeria completa por 40€</li>
                <li>Reportaje en Estudio</li>
                <li>Opcion de incluir 1 o 2 personas</li>
                <li>Fotografia impresa extra por 8€</li>
            </ul>
            <div class="boxprecio">
                <a class="precio" href="./formulario.html">Solicita Presupuesto</a>
            </div>
        </div>
    
        <!-- BOX 3 -->
    
        <div class="box">
            <div>
                <div class="namebox">
                    <h2> MAMÁ OSA</h2>
                </div>
                <ul class="listas">
                    <li>30 Fotografias Digitales</li>
                    <li>25 Fotografias Impresas</li>
                    <li>Entregado en un sobre de tela + OBSEQUIO</li>
                    <li>4 Atrezos disponibles</li>
                    <li>Reportaje en Estudio o Exterior</li>
                    <li>Albúm Fotografico incluido</li>
                    <li>Opcion a galeria completa por 20€</li>
                    <li>Fotografia extra impresa 8€</li>
                    
                </ul>
                <div class="boxprecio">
                    <a class="precio" href="./formulario.html">Solicita Presupuesto</a>
                </div>
            </div>
        </div> 
    </div>

    <!-- FOOTER-->
       
    <footer>
        <div class="footer">
            <p class="namefooter">&copy;2025 EL ESTUDIO DE KAI C.A.</p>
            <nav>
                <ul class="footerlist">
                    <li><a href="#">F & Q</a></li>
                    <li><a href="./Contacto.html">Contacto</a></li>
                    <li><a href="../assets/pdf/Politica_Privacidad.pdf">Aviso Legal</a></li>
                </ul>
            </nav>

            <!-- Iconos redes sociales-->

            <div class="redes">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="Instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
        
    </footer> 
       

    

</body>
</html>